/*specifity 0-0-2*/
div em {

    color: #fe6100;
    /*به صورت مستقیم به عنصری که میخواهیم استابل دهی کنیم*/ 
}

/*s pecifity 0-0-2*/

p em{
    color: #648fff;
    /*هیچ کدام اعمال نمیشپد*/
}
em{
color: #dc267f;


/* specifity 0-0-1*/
}
